@model GoogleMapsWeb.Models.QueryResult

@{
    ViewBag.Title = "Locations";
}

<h3>Multiple Locations Found - Please Choose Your Location</h3>
<div>
    <div id="locations" style="width: 400px;">
        @foreach (var location in Model.Locations)
        {
            <div>
                <b>@location.formatted_address</b> <br/>
                Latitude: @location.lat<br/>
                Longitue: @location.lng<br/>
                @Html.ActionLink("Select this location","FindByLocation", new { lat = location.lat, lng = location.lng, what = Model.what})
                <hr/>
            </div>
        }
    </div>
</div>