@model GoogleMapsWeb.Models.QueryResult

@using (Html.BeginForm("Index","Home"))
{
    <fieldset style="width: 610px;padding: 15px;">
        <div class="row">
        <div class="columnLeft">Location (i.e. Midtown Manhattan)</div>
        <div class="columnRight">Business Name (i.e. Central Parking)</div>
    </div>
    <div class="row">
        <div class="columnLeft">
            @Html.TextBoxFor(m => m.where)
        </div>
        <div class="columnRight">
             @Html.TextBoxFor(m => m.what) 
        </div>
        <div class="columnRight">
            <input type="submit" value="Find"/>
        </div>
    </div>
    </fieldset>
    
}

 
   